<div class="container">
  <%= form_for @employee, url: employees_path, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :role %>
    <%= f.text_field :role, value: 'employee' %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Create Employee" %>
  <% end %>
</div>
