<div class="container">
  <%= form_with(model: [@user, @interview], local: true) do |form| %>
    <% if current_user && current_user.role == 'employee' %>
      <div>
        <%= form.label :status %>
        <%= form.select :status, options_for_select(["selected", "not selected", "waiting"],@interview.status) %>
      </div>

      <div>
        <%= form.label :feedback %>
        <%= form.text_field :feedback %>
      </div>
    <%else%>

    <div>
      <%= form.label :round %>
      <%= form.number_field :round %>
    </div>

    <div>
      <%= form.label :interview_time %>
      <%= form.datetime_local_field :interview_time %>
    </div>

    <div>
      <%= form.label :Candidate %>
      <%= form.select :candidate_id, @candidates.map { |c| [candidate_option_text(c), c.id] }, selected: @interview.candidate_id %>
    </div>

    <div>
      <%= form.label :Employee %>
      <%= form.select :employee_id, @employees.map { |e| [employee_option_text(e), e.id] }, selected: @interview.employee_id %>
    </div>
    <%end%>

    <div>
      <%= form.submit%>
    </div>
  <% end %>
</div>
