
<% if @user.present? %>
  <div class="grid-container">
  <div class="user">
    <h1>Profile</h1>
    <p>
      <h2>Name:</h2>
      <%= @user.name %>
    </p>
    <p>
      <h2>Email:</h2>
      <%= @user.email%>
    </p>
    <p>
      <h2>Role:</h2>
      <%= @user.role %>
    </p>
    <p>
      <h2>Phone</h2>
      <%=@user.phone%>
    </p>
    <p style="margin-bottom: 25px;">
      <%= link_to 'Edit', edit_user_path %>
    </p>
    <p>
      <%= link_to "Delete", user_path(@user), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %>
    </p>
  </div>
  <% if current_user.role == 'employee' %>
    <div class="option">
      <div class="interview-status">
        <div class="status-item">
          <%= link_to 'Selected Interviews', show_interview_employee_path(@user, status: "Selected") %>
          <p class="count">Selected: <%=  @employee_select_count %></p>
        </div>
        
        <div class="status-item">
          <%= link_to 'Interviews seleted', show_interview_employee_path(@user,status:"Not selected") %>
          <p class="count">Not Selected: <%= @employee_not_select_count %></p>
        </div>
        
        <div class="status-item">
          <%= link_to 'Pending Interviews', show_interview_employee_path(@user,status: "Pending") %>
          <p class="count">Pending: <%= @employee_pending_count %></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="option">
      <%= link_to 'add employee', new_employee_path %>
      <%= link_to 'Employee', employees_path %>
      <%= link_to 'Add Candidate', new_user_candidate_path(@user) %>
      <%= link_to 'Candidates', user_candidates_path(@user) %>
      <%= link_to 'Schedule Interview', new_user_interview_path(@user) %>
      <div class="interview-status">
        <div class="status-item">
          <%= link_to 'Selected Interviews', user_interviews_path(@user, status: "Selected") %>
          <p class="count">Selected: <%= @selected_count %></p>
        </div>
        
        <div class="status-item">
          <%= link_to 'Not Selected Interviews', user_interviews_path(@user, status: "Not selected") %>
          <p class="count">Not Selected: <%= @not_selected_count %></p>
        </div>
        
        <div class="status-item">
          <%= link_to 'Pending Interviews', user_interviews_path(@user, status: "Pending") %>
          <p class="count">Pending: <%= @pending_count %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <div>User does not exist</div>
<% end %>
